.wrapper {
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    box-shadow: 5px 10px #888888;
  }